@import 'normalize.css';

/*
 * Common
 * */
html {
  line-height: 1;
}

body {
  margin: 0;
  font-family: proxima-nova, sans-serif;
}

button {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

a {
  -webkit-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
}

a:hover {
  opacity: 0.6;
}

figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 1055px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}

.primary-button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 7px 25px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  color: #263b54;
  text-align: center;
  border: solid #cf3c1b 4px;
}

a:focus,
input:focus{
  outline: dotted;
}

/*
 * Nav
 * */ 
.top-nav,
.bottom-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.top-nav {
  padding: 10px 25px;
  background-color: #f8f8f8;
}
 
@media (max-width: 480px) {
  .top-nav {
    display: none;
  }
}

.bottom-nav {
  padding: 15px 25px;
  background-color: #ffffff;
  border-bottom: solid 4px #263b54;
}

@media (max-width: 480px) {
  .bottom-nav {
    padding: 15px 15px;
  }
}

.left-logo {
  width: auto;
  height: auto;
  line-height: 0;
}

.right-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
}

.carle-logo {
  padding-right: 20px;
}

.brand {
  margin: 0;
  font-weight: 800;
  font-size: 48px;
  line-height: 1.17;
  color: #cf3c1b;
}

.links {
  display: inline-block;
}

@media (max-width: 860px) {
  .links {
    display: none;
  }
}

.nav-link,
.mobile-menu-button {
  margin: 0 15px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  color: #263b54;
}

.nav-link:nth-child(4) {
  font-weight: 300;
  margin-right: 25px;
}

.mobile-nav {
  display: none;
  position: absolute;
  top: 69px;
  left: 0;
  width: 100%;
  padding: 20px 0;
  background-color: white;
}

.mobile-nav.shown {
  display: block;
}

.mobile-nav .nav-link {
  display: block;
  padding: 3px 0;
}

.mobile-nav .give-now {
  margin-top: 10px;
}

.mobile-links,
.mobile-brand {
  display: none;
}

.mobile-menu-button img {
  margin-left: 4px;
}

@media (max-width: 860px) {
  .mobile-links {
    display: inline-block;
  }
}

@media (max-width: 480px) {
  .mobile-brand {
    display: inline-block;
  }

  .mobile-menu-button {
    font-size: 16px;
    line-height: 1.1;
    margin: 0;
  }

  .menu {
    -ms-flex-item-align: end;
    align-self: flex-end;
  }

  .give-now,
  .brand {
    display: none;
  }
}

/*
 * Intro
 * */
.intro-wrap {
  background-color: #cf3c1b;
  background-image: -webkit-gradient(linear, left top, right top, from(#c32032), to(#e84a27));
  background-image: -o-linear-gradient(left, #c32032 0%, #e84a27 100%);
  background-image: linear-gradient(to right, #c32032 0%, #e84a27 100%);
  line-height: 0;
}

.intro-wrap img {
  width: 100vw;
  min-height: 183px;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  mix-blend-mode: multiply;
}

.intro-text {
  padding-top: 120px;
  padding-bottom: 120px;
}

@media (max-width: 480px) {
  .intro-text {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.intro-text p {
  margin: 0;
  font-size: 80px;
  line-height: 1.1;
  color: #ffffff;
}

@media (max-width: 860px) {
  .intro-text p {
    font-size: 64px;
  }
}

@media (max-width: 480px) {
  .intro-text p {
    font-size: 48px;
  }
}

/*
 * Info
 * */
.info-wrap {
  padding-top: 120px;
  padding-bottom: 140px;
  background-color: #f8f8f8;
  overflow-x: hidden;
}

@media (max-width: 480px) {
  .info-wrap {
    padding-top: 50px;
    padding-bottom: 70px;
  }
}

.info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

@media (max-width: 610px) {
  .info-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.info-left,
.info-right {
  width: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.info-right {
  padding-top: 122px;
  padding-left: 40px;
}

@media (max-width: 860px) {
  .info-right {
    padding-top: 90px;
    padding-left: 25px;
  }
}

@media (max-width: 610px) {
  .info-left,
  .info-right {
    width: 100%;
  }

  .info-right {
    padding-top: 0;
    padding-left: 0;
  }
}

.info-left h3 {
  color: #263b54;
  font-size: 48px;
  line-height: 1.17;
  font-weight: 300;
}

.info-left strong {
  color: #cf3c1b;
  font-size: 64px;
  font-weight: 800;
  line-height: 1.13;
}

@media (max-width: 860px) {
  .info-left h3 {
    font-size: 32px;
  }

  .info-left strong {
    font-size: 48px;
  }
}

.info-left p {
  font-size: 20px;
  line-height: 1.4;
  color: #444d55;
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 30px;
}

.info-left hr {
  width: 117%;
  position: relative;
  border-color: #cf3c1b;
}

.quote blockquote {
  position: relative;
  margin: 10px 15px 0 15px;
}

@media (max-width: 480px) {
  .quote blockquote {
    margin: 0;
  }
}

.quote blockquote p {
  font-family: ff-meta-serif-web-pro, serif;
  font-size: 32px;
  margin: 25px 0;
  font-weight: 500;
  line-height: 1.25;
  color: #263b54;
}

@media (max-width: 860px) {
  .quote blockquote p {
    font-size: 24px;
  }
}

.quote blockquote h4,
.quote blockquote h5 {
  margin-top: 0;
  margin-bottom: 0;
  color: #444d55;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
}

.quote blockquote h5 {
  font-weight: 300;
}

.quote blockquote footer {
  font-family: proxima-nova, sans-serif;
}

.quote-img {
  width: 100%;
  height: auto;
}

@media (max-width: 610px) {
  .quote-img {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

.icon-quote {
  position: absolute;
  height: 24px;
  width: 20px;
  top: -38px;
  left: 0;
  right: 0;
  bottom: 0;
}

.info-right .primary-button {
  display: none;
  width: 100%;
  margin-top: 50px;
}

@media (max-width: 610px) {
  .info-left .primary-button {
    display: none;
  }

  .info-right .primary-button {
    display: block;
  } 
}

/*
 * Footer
 * */
.footer-wrap {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #263b54;
  background-image: -webkit-gradient(linear, left top, right top, from(#1a263d), to(#263b54));
  background-image: -o-linear-gradient(left, #1a263d 0%, #263b54 100%);
  background-image: linear-gradient(to right, #1a263d 0%, #263b54 100%);
}

@media (max-width: 480px) {
  .footer-wrap {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.footer-wrap address {
  font-style: normal;
  text-decoration: underline;
  padding-bottom: 30px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: white;
}

.footer-wrap .phone-number {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  text-decoration: underline;
  color: white;
}
